.env
*.env
!.env.example
.npmrc

node_modules/
api/node_modules/
client/node_modules/

dist/
client/dist/
!client/dist/
!client/dist/**
!packages/**/dist/
!packages/**/dist/**
build/
coverage/

logs/
*.log
.docker-build/
vite-output.log

data-node/
uploads/
meili_data*/

.DS_Store
Thumbs.db
